# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives : </b>
 - List popular languages for Data Science
 - Some of the commonly used libraries used by Data Scientists
 - evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R

Some of the commonly used libraries used by Data Scientists include:
 1. Numpy
 2. TensorFlow
 3. Pandas

| Data science tools |
|--------------------|
|  Jupyter Notebook  |
|    RStudio         |
|    Apache Zeppelin |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Ayush Bhandarkar</h2>